<% provide(:title, "Home") %>
<h1>Welcome to our web site,</h1>
<p>
   we will appreciate you share your opinion with us
</p>
<p>
  <a href="https://rails-tutorial-taherhek-1.c9.io/comments/new">Put a comment for us</a>
</p>