<div clss="mynav">
  <p>
    You may find these websites useful too:
  </p>
  <ul>
    <li><%= link_to "PHP",   'http://www.php.org' %></li>
    <li><%= link_to "JAVA",   'http://www.java.org' %></li>
    <li><%= link_to "Pyton", 'http://www.pyyton.org' %></li>    
  </ul>
</div>